/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin: 0;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3fbbc0;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: all 0.3s ease;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #3fbbc0;
    border-color: #3fbbc0;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #3fbbc0;
    border-color: #3fbbc0;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
} 